body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    color:white;
    display:flex;
    justify-content: space-between;
    padding: 20px 100px;
    height:25px;
}

.right{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

a{
    text-decoration: none;
    color:white;
}

.left{
    font-weight: 800;
}

.one {
    background-color: #1F2937;
    color:white;
    display:flex;
    padding: 30px 100px;
    gap: 40px;
}

.left2{
    display:flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 100px 0px;
}

.right2{
    flex:1 1 0;
    align-items: center;
    justify-content: center;
    background-color: grey;
    display: flex;
    max-height:200px;
    max-width:400px;
    min-height:200px;
    min-width:400px;
    margin: 100px 0px;
}


.awesome{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}

.placeholder{
    padding: 16px;
    margin:16px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.subtext,
.header{
    font-size: 18px;
    color:#E5E7EB
}

.signup{
    background-color: #3882F6;
    width:100px;
    margin: 10px 0px;
    color: white;
    border-radius:5px;
    font-weight: bold;
}

.two{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.information{
    margin: 25px 0px;
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
}

.cards{
    display: flex;
    padding: 25px 250px 100px 250px;
    gap: 25px;
}

.box{
    border-color: #3882F6;
    border-width:4px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    height:125px;
    width:125px;
}

.card{
    align-items: center;
    justify-content: center;
}

.subtext2{
    text-align: center;
    font-size: 18px;
    color: gray;
    font-size: 14px;
    margin: 5px;
    width: 125px;
    height:125px;
}
